<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="/images/met.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Objeto</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- hoja de estilos general -->
    <link rel="stylesheet" href="/css/object.css"> <!-- hoja de estilos especifica de la vista -->
</head>
<body>
    <h1><%= title %></h1>
    <img src="<%= imageUrl %>" alt="<%= title %>">
    
    <p><strong>Cultura:</strong> <%= culture ? culture : 'Sin Información' %></p><!-- si el objeto no posee atributo de cultura muestra ese mensaje  -->
    <p><strong>Dinastía:</strong> <%= dynasty ? dynasty : 'Sin Información' %></p> <!-- si el objeto no posee atributo de dinastia muestra ese mensaje"  -->
    <p><strong>Fecha:</strong> <%= date %></p>
    
    <!--manejo de cards si el object tien imagenes adicionales-->
    <% if (additionalImages.length > 0) { %>
        <h2>Imágenes Adicionales</h2>
        <div class="grid">
            <% additionalImages.forEach(img => { %>
                <div class="card">
                    <a href="<%= img %>" target="_blank">
                        <img src="<%= img %>" alt="Imagen adicional de <%= title %>">
                    </a>
                </div>
            <% }) %>
        </div>
    <% } %>

    <div class="button-container">
        <a href="javascript:history.back()" class="button-link">Volver a la búsqueda</a> <!--boton para volver a los resultados de la busqueda-->
        <a href="/" class="button-link">Volver a la página principal</a> <!--boton para volver a la pagina principal-->
    </div>
    <!-- se incluye el pie de pagina mediante el archivo partials/footer.ejs  -->
    <%- include('partials/footer') %>
</body>
</html>
