<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="/images/met.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la Búsqueda</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- hoja de estilos general -->
    <link rel="stylesheet" href="/css/results.css"> <!-- hoja de estilos especifica de la vista -->
</head>
<body>
    <h1>Resultados de la Búsqueda</h1>
    <div class="grid"> <!-- Grilla -->
        <% objects.forEach(object => { %>
            <div class="card">
                 <% if (object.imageUrl === null || object.imageUrl === "") { %> <!--Validación de si tiene Imagen -->
                    <div class="no-image">Imagen no disponible para este artículo</div> <!-- esta manejado de esta forma aunque posee un filtro en el cual elimina los objects sin img  -->
                <% } else { %>
                    <img src="<%= object.imageUrl %>" alt="<%= object.title %>" title="<%= object.date %>">
                <% } %>
                <!-- contenido de cada card e la que se muestra el objeto -->
                <div class="card-content">
                    <div>
                        <h3><%= object.title %></h3>
                        <p><%= object.culture %></p>
                        <p><%= object.dynasty %></p>
                    </div>
                    <% if (object.additionalImages.length > 0) { %> 
                        <a href="/object/<%= object.id %>" class="button-link">Ver imágenes adicionales</a> <!-- si el objeto posee mas de una img muestra este boton  -->
                    <% } else { %>
                        <a href="/object/<%= object.id %>?single=true" class="button-link">Ver imagen completa</a> <!--si el objeto NO posee mas de una img muestra este boton  -->
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
    <div class="pagination"> <!-- manejo de la paginacion  -->
        <% if (page > 1) { %><!-- se maneja la paginacion en base a si esta en la primera pagina o no  -->
            <a href="/search?page=<%= page-1 %>&q=<%= q %>&departmentId=<%= departmentId %>&geoLocation=<%= geoLocation %>">Anterior</a> <!-- si lo esta, agrega el boton "anterior" -->
        <% } %>
        <% if (page < totalPages) { %>
            <a href="/search?page=<%= ++page %>&q=<%= q %>&departmentId=<%= departmentId %>&geoLocation=<%= geoLocation %>">Siguiente</a>
        <% } %>
        <a href="/" class="button-link">Volver a la página principal</a>
    </div>
    <!-- se incluye el pie de pagina mediante el archivo partials/footer.ejs  -->
    <%- include('partials/footer') %>
</body>
</html>
